span.directions {
  display: inline;
  color: rgb(82, 175, 218); 
}

.articleLinks {
  color: white;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto;
  text-decoration: none;
}

.articleLinks:hover {
  color: purple;
  text-decoration: underline;
}
