.icon{
    /* Flow with text content */
    display: inline-block;
    /* Inherit the parent text color */
    fill: currentColor;
    /* Use the parent font-size for width and height */
    height: 1em;
    width: 1em;
    /* Vertically align icon with adjacent text */
    vertical-align: middle;
    /* Align more nicely with capital letters */
    position: relative;
    /* MS EDGE button+svg click event fix */
    z-index: 1;
}