@import url("../../../00-assets/css/00-settings/colors-base.css");
:root {
  --height-small: 40vh;
  --height-large: 50vh;
}
.pageHeader{
  float:left;
  width: 100%;
  position: relative;
  z-index: 0;
}
.image{
  float: left;
  width: 100%;
  max-height: var(--height-small);
  height: var(--height-small);
  position: relative;
  z-index: 0;
}
.image > div {
  max-height: var(--height-small);
  height: var(--height-small);
}
@media only screen and (min-width: 1025px){
  .image{
    height: var(--height-large);
    max-height: var(--height-large);
  }
  .image > div {
    height: var(--height-large);
    max-height: var(--height-large);
  }
}
.image img {
  object-position: 20% 74%;
}
@media only screen and (min-width: 1025px){
  .image img {
    object-position: 20% 83%;
  }
}
.content{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.heading{
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 1.3;
  color: var(--c-white);
  font-weight: 700;
  text-shadow: 2px 2px 11px var(--c-main--30);
}
@media only screen and (min-width: 1025px){
  .heading{
    font-size: 6vh;
  }
}
