.switcher {
  float:left;
  width: 100%;
  min-height: 300px;
  position: relative;
  overflow-x: hidden;
}

/** NEXT TRANSITION **/
:global(.next .fade-enter) {
  transform: translateX(100%); 
  opacity: 0; 
}

:global(.next .fade-enter-active) {
  transform: translateX(0%); 
  opacity: 1;
  transition: all 500ms;
}

:global(.next .fade-leave) {
  transform: translateX(0%); 
  opacity: 1; 
}

:global(.next .fade-leave-active) {
  transform: translateX(-100%); 
  opacity: 0; 
  transition: all 500ms;
}

/** BACK TRANSITION **/
:global(.back .fade-enter) {
  transform: translateX(-100%); 
  opacity: 0; 
}

:global(.back .fade-enter-active) {
  transform: translateX(0%); 
  opacity: 1; 
  transition: all 500ms;
}

:global(.back .fade-leave) {
  transform: translateX(0%); 
  opacity: 1; 
}

:global(.back .fade-leave-active) {
  transform: translateX(100%); 
  opacity: 0; 
  transition: all 500ms;
}
