@import url("../../../00-assets/css/00-settings/colors-base.css");
.footerMain{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--c-main--20);
}
.inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
