/*This file contains helper classes that can be used for different purposes like constructing simple layouts with flexbox helper classes or*/
/*overriding components styling. These can be used whenever building a separate component feels like an overkill*/
@supports(flex-wrap: wrap){
  /*Fix for UC Browser. It doesn't support flex-wrap: wrap, so no flexbox for UC :(.*/
  :global(.flex) {
    display: flex;
  }
}
:global(.flexboxtweener .flex){
  /*Adding flexbox for IE11 and IE10 since they don't support @supports syntax.*/
  display: flex;
}
:global(.wrap--nowrap) {
  flex-wrap: nowrap;
}
:global(.wrap--wrap) {
  flex-wrap: wrap;
}
:global(.wrap--wrap-reverse) {
  flex-wrap: wrap-reverse;
}
:global(.flex--1) {
  flex: 1 1 auto;
}
:global(.order--1) {
  order: 1;
}
:global(.direction--column) {
  flex-direction: column;
}
:global(.direction--column-reverse) {
  flex-direction: column-reverse;
}
:global(.direction--row) {
  flex-direction: row;
}
:global(.direction--row-reverse) {
  flex-direction: row-reverse;
}
:global(.justify--start) {
  justify-content: flex-start;
}
:global(.justify--end) {
  justify-content: flex-end;
}
:global(.justify--center) {
  justify-content: center;
}
:global(.justify--space-between) {
  justify-content: space-between;
}
:global(.justify--space-around) {
  justify-content: space-around;
}
