:global(.margin-bottom-100){margin-bottom: 100px;}
:global(.margin-bottom-90){margin-bottom: 90px;}
:global(.margin-bottom-80){margin-bottom: 80px;}
:global(.margin-bottom-70){margin-bottom: 70px;}
:global(.margin-bottom-60){margin-bottom: 60px;}
:global(.margin-bottom-50){margin-bottom: 50px;}
:global(.margin-bottom-40){margin-bottom: 40px;}
:global(.margin-bottom-30){margin-bottom: 30px;}
:global(.margin-bottom-20){margin-bottom: 20px;}
:global(.margin-bottom-10){margin-bottom: 10px;}
:global(.margin-bottom-5){margin-bottom: 5px;}
