@import url("../../../00-assets/css/00-settings/colors-base.css");
.headerMain {
  float:left;
  width: 100%;
  height: 90px;
  flex: 0 0 auto;
}
.home{
  position: absolute;
  z-index: 1;
}
.container{
  height: 100%;
}
.inner{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.headerMain a{
  display: block;
  color: var(--c-white);
  text-shadow: 2px 2px 8px var(--c-main--10);
  margin: 6px 10px;
  font-size: 1em;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s;
}

.headerMain .active {
  border-style: solid;
  border-color: currentColor;
  border-width: 0;
  border-bottom-width: 2px;
}
.headerMain a:hover, .headerMain span:hover {
  color: var(--c-white--80);
}
.headerMain .active a:hover, .headerMain .span span:hover {
  color: var(--c-white--50);
}

.headerMain .active:hover {
  color: var(--c-white--40);
}
