@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/subset-FuturaPT-Light.woff2') format('woff2'),
  url('../fonts/subset-FuturaPT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
