@import url("../../../../00-assets/css/00-settings/colors-base.css");
.footerMain{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--c-main--20);
}
.inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a.link,
a.link:hover,
a.link:focus,
a.link:active {
  color: var(--c-main);
  text-decoration: none;
}
